<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Holberton</title>
</head>
<body>
    <h1>Hello world</h1>
    <p>
        {% if g.user %}
            {% if g.user.locale == 'fr' %}
                Vous êtes connecté en tant que {{ g.user.name }}.
            {% else %}
                You are logged in as {{ g.user.name }}.
            {% endif %}
        {% else %}
            {% if get_locale() == 'fr' %}
                Vous n'êtes pas connecté.
            {% else %}
                You are not logged in.
            {% endif %}
        {% endif %}
    </p>
    <p>
        {% if get_locale() == 'fr' %}
            Nous sommes le {{ moment().format('LLL') }}.
        {% else %}
            The current time is {{ moment().format('LLL') }}.
        {% endif %}
    </p>
</body>
</html>